body {
    background-color: #281F47;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

h1 {
    text-align: center;
    margin-top: 20px 0;
    margin-bottom: 10px;
    font-size: 36px;
    color: #ffffff;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

input {
    display: flex;
    padding: 5px;
    width: 200px;
    margin-left: 10px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: #ffffff;
}

button {
    background-color: #625780;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #9786c7;
}

.calculos {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.Tiempo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.Tiempo input{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

span{
    color: #ffffff;
}

.comboTiempo button{
    margin: 0px;
    margin-left: 5px;
    padding: 7px 15px;
    font-size: 14px;
}

.Resultados{
    text-align: center;
}
